// .formBox {
// width: 100%;
// border-radius: 10px;
// border-color: rgb(255, 255, 255);
// border-style: solid;
// background: #151820;
// padding: 8%;
// }

.createpostbutton {
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
    background-color: #151820;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }

  