
// PC SCREEN
@media only screen and (min-width: 1000px) {
h1 {
    font-size: 24px;
}

.userprofile {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 0.8fr 1fr 0.1fr 3fr 0.1fr 3fr 0.1fr 3fr;
    height: auto;
}

#profileBody {
    font-size: 14px;
}

.userprofilecoverimg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#coverimg {
    width: 100%;
    padding: 0%
}


#userinfo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(37, 42, 49, 0.56);

    padding-left: 23%;

}

#userprofileimage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;

    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 1px;

    width: 150%;
    border: solid;
    border-radius: 50%;
    border-color: #ffffff;
    position: relative;
}

.userposts {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.ouruserposts {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0;
    padding: 16px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x: auto;
}

.userlikedposts {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.ouruserlikes {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    margin: 0;
    padding: 16px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x: auto;
}

.userdislikedposts {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.ouruserdislikes {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    margin: 0;
    padding: 16px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x: auto;
}

.specificposts {
    display: grid;
    grid-template-rows: 31% 4% 4% 10%;
    height: auto;
    padding-right: 24px;
    /* to be changed to 24px after carousel is put in  */
    width: 230px;
}

#userpostimg {
    width: 100%;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0%;
    margin: 0%;
}

#postUserName {
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: 600;
    font-size: 14px;
    background-color: #151820;
    padding-top: 1%;
    padding-left: 16px;
}

#userpostdate {
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: 300;
    font-size: 10px;
    background-color: #151820;
    padding-left: 16px;

}

#userpostmessage {
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: 400;
    font-size: 14px;
    background-color: #151820;
    padding: 16px;

}
}
