@import "./UserDetail/UserDetail.scss";
@import "./UserList/UserList.scss";
@import "./PostList/PostList.scss";

body {
  font-family: "Segoe UI", Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
}

.buttons {
  border-radius: 10px;
  border-color: #ffffff;
  border-style: solid;
  background-color: #151820;
  width: 10%;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
